body {
    background-image: url("https://i.pinimg.com/originals/98/e2/d9/98e2d93541a12d1a07fba5b62b14d516.jpg") 
}
header, footer { 
  background-color: pink;
}
h1, h2, h3, h4, h5, h6 {
 font-family: 'Fredoka One', cursive;
 font-family: 'Concert One', cursive;
  font-weight: 700;
}

/* Paragraph */

p { 
  font-family: 'Concert One', cursive;
  font-family: 'Fredoka One', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  font-weight: 50;
}

/* Link & Buttons */

a.btn, button {
  font-family: 'Fredoka One', cursive;
  font-family: 'Concert One', cursive;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.content_block {
	overflow: hidden;
	position: relative;    
}
.content_block.hide {
	height: 300px;
}
.content_block.hide:after{
	content: "";
	display: block;
	height: 100px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%)
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.xpandable-block {
  height: 55px;
  overflow: hidden;
  order: 0;
}
.xpand-button {
  order: 1;
}
input[type="checkbox"] {
 display: none;
}
input[type="checkbox"]:checked + .xpandable-block {
  height: auto;
}
label {
  order: 1;
  color: blue;
  text-decoration: underline;
  font-size: 18px;
  cursor: pointer;
}